*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #101827;
    font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
}

.container-head{
    justify-content: center;
    display: flex;
    text-align: center;
    color: #03e9f4;
    margin-top: 2%;
}

.logo
{
    display: flex;
    align-items: center;
    color: #03e9f4;
    margin: 0%;
    margin-left: 10%;
    padding: 0%;
    width: 800px;
}

.table{
    color: #03e9f4;
    display: flex;
    text-align: center;
    padding: 5%;
    margin: 0%;
}

th{
    text-align: left;
    width: 20%;
    padding-left: 19px;
    padding-bottom: 1%;
}


table{
    table-layout:fixed;
}

.lo{
    width: 10%;
    height: 10%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-right: 85%;
}

h5{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}